
<%- include('./templates/menu') %>

<div>
    <img id="bandeauPA1" src="img/INbandeaupageAccueil1.jpg" alt="">
</div>

<div id="contenue">
    <p><strong>Cabinet de Curiosités,</strong> 
        Galerie de Vente de produits authentiques, d’éditions limitées, de collections tendances sages ou 
        délirantes en mouvement perpétuel. Simplement Chic! La rencontre d'<strong>esprits créatif</strong>, 
        venant d’univers différents, animés par une folle envie de travailler ensemble. Un <strong>pool de compétences</strong> 
        surfant sur les désirs d’un monde respectueux de son environnement. Un monde de tendances, de couleurs, de matières, de connexion, de réseaux, d’événements.
        <br>
        <strong>Talents confirmés!</strong>
    </div>
    <div>
        <img id="bandeauPA" src="img/INbandeaupageAccueil2.jpg" alt="">
      </div>